<h1><%= @restaurant.name %></h1>
<h2><%= @restaurant.category %></h2>
<h2><%= @restaurant.address %></h2>
<h2><%= @restaurant.phone_number %></h2>


<ul class="list-group">
  <% @restaurant.reviews.each do |review| %>
    <li class="list-group-item"><%= review.content %> <%= review.rating %>⭐️</li>
  <% end %>
</ul>

<%= link_to "Go back to restaurant list 🏠", restaurants_path %>
<%= link_to 'Leave a review', new_restaurant_review_path(@restaurant) %>
<%= link_to "Edit ✎", edit_restaurant_path(@restaurant) %>
<%= link_to "Delete 🗑", restaurant_path(@restaurant), method: :delete, data: { confirm: "Are you sure?"} %>
